<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<html lang="en">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<br><br>
<div class="cont">
<form th:action="@{'/addHouse/'+${#authentication.name}}" th:object="${housing}" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div>
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name"  th:field="*{name}" required>
        </div>
        <div>
            <label class="form-label" for="city">City</label>
            <input class="form-control" type="text" id="city" name="city"  th:field="*{city}" required>
        </div>
        <div>
            <label class="form-label" for="country">Country</label>
            <input class="form-control" type="text" id="country" name="country"  th:field="*{country}" required>
        </div>
        <div>
            <label class="form-label" for="rentDays">Rent days</label>
            <input class="form-control" type="text" id="rentDays" name="rentDays"  th:field="*{rentDays}" required>
        </div>
        <div>
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="text" id="price" name="price" th:field="*{price}" required>
        </div>
        <div>
            <label class="form-label" for="rating">Rating</label>
            <input class="form-control" type="text" id="rating"  name="rating" th:field="*{rating}" required>
        </div>
        <div>
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control"  id="description" name="description"  th:field="*{description}" required></textarea>
        </div>
        <div>
            <label class="form-label" for="image1">Photo</label>
            <input class="form-control" type="file" id="image1" name="image1">
        </div>
        <input type="submit" class="btn btn-dark" value="Add">
    </div>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.querySelector('#image1').onchange = function() {
      if (this.files[0].size > 1048576) { // Ограничение размера файла до 1МБ: 1024 * 1024
        alert('Размер файла превышен, выберите файл меньше 1МБ.');
        this.value = '';
      }
        };
</script>
</body>
</html>